interactions:
- request:
    body: null
    headers:
      Api-Key:
      - secretkey
      Api-Username:
      - canonical
    method: GET
    uri: https://discourse.ubuntu.com/t/17275.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":48629,\"name\":\"Owenrm\",\"username\":\"owenrm\",\"avatar_template\":\"/letter_avatar/owenrm/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\",\"created_at\":\"2020-07-17T10:20:08.486Z\",\"cooked\":\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003eimage\\u003c/td\\u003e\\n\\u003ctd\\u003e\\u003ca
        href=\\\"https://assets.ubuntu.com/v1/2217d1c8-Security.svg\\\" rel=\\\"nofollow
        noopener\\\"\\u003ehttps://assets.ubuntu.com/v1/2217d1c8-[...]
