interactions:
- request:
    body: params=%7B%22category_id%22%3A+%2251%22%2C+%22limit%22%3A+%221%22%2C+%22offset%22%3A+%220%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/14/run
  response:
    body:
      string: "{\"success\": true, \"errors\": [], \"duration\": 12.5, \"result_count\": 1, \"params\": {\"category_id\": 51, \"limit\": \"1\", \"offset\": \"0\"}, \"rows\": [[\"test metadata table\"]]}"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
