name: Publish

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install system dependencies
      run: |
        pip3 install --upgrade setuptools pip
        pip3 install wheel

    - name: Build package
      run: python3 setup.py sdist bdist_wheel

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@bea5cda687c2b79989126d589ef4411bedce0195
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
